
<div class="container">
  <div class="row">
      <div class="bd-example" *ngIf='!verPagosPendientes'>
        <br>
        <form [formGroup]="pagoForm" (ngSubmit)="consultarPorCedula()" class="row g-4"> 
          <div class="col-auto">
            <input validar type="text" class="form-control" class="form-control" id="txtIdentificacion" formControlName="identificacion" placeholder="Identificación">
          </div>
          <div class="col-auto">
            <button id="btnConsultar" type="submit" class="btn btn-primary mb-3" [disabled]="pagoForm.invalid">Consultar Estado De Cuenta</button>
          </div>
      </form>
    </div>
      <div id="pagos" *ngIf='verPagosPendientes'>
          <br>
          <h4>Informacion de Estado de Cuenta</h4>
          <br>  
           <table aria-describedby="Informacion de Estado de Cuenta" class="table table-responsive table-hover">
            <thead class="table-primary">
              <tr>
                <th scope="col">Id Pago</th>
                <th scope="col">Identificación</th>
                <th scope="col">Codigo Factura</th>
                <th scope="col">Fecha de Vencimiento</th>
                <th scope="col">Valor a Pagar</th>        
                <th scope="col">Fecha de Pago</th>
                <th scope="col">Valor Pagado</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pago of listaLocalPagos">
                <th scope="row">{{pago.idPago}}</th>
                <td>{{pago.documentoIdentificacionDeudor}}</td>
                <td>{{pago.codigoFactura}}</td>
                <td>{{pago.fechaVencimientoPago}}</td>
                <td>{{pago.valorAdeudado}}</td>
                <td>{{pago.fechaPago}}</td>
                <td>{{pago.valorPagado}}</td>
                <td><button id="btnPagar{{pago.idPago}}"  [disabled]="pago.valorPagado != '0.00'"  type="button" class="btn btn-primary mb-3 btnPagar"  (click)='pagar(pago)'>Pagar</button></td>
              </tr>
            </tbody>
          </table>
          <button  id="btnAtras"  type="button" class="btn btn-primary mb-3" (click)='limpiarFormulario()'>Atras</button>
      </div>
  </div> 
</div>
